In [3]:
print('''Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,''')

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,

In [ ]:
a = "duaa",
b = 455,
c = 45.67,
print(a,b,c)

In [16]:
a = "duaa"
b = 455
c = 45.67
b

455

In [21]:
a = 34
b = 43
print("thie number 34+43 number plus", 34+43)
print("thie number 34+43 number plus", 34-43)
print("thie number 34+43 number plus", 34*43)
print("thie number 34+43 number plus", 34/43)

thie number 34+43 number plus 77
thie number 34+43 number plus -9
thie number 34+43 number plus 1462
thie number 34+43 number plus 0.7906976744186046

In [27]:
a = 45
a += 5
b = 45
b -= 5
c = 45
c *= 5
d = 45
d /= 5
print(a,b,c,d)

50 40 225 9.0

In [33]:
b = (3!=5)
print(b)

True

In [39]:
bool1 = True
bool2 = False
print("this is boolen", bool1 and bool2)

this is boolen False

In [44]:
a = "23"
a = int(23)
print(a)

23

In [45]:
a = input("Enter your name:")
print(a)

Enter your name:duaa anis
duaa anis

In [46]:
duaa = 23
anis = 45
print("this number plus", 23 + 45)

this number plus 68

In [50]:
duaa = 458
anis = 15
print("this number plus", duaa%anis)

this number plus 8

In [2]:
a = input("Enter your first name: ")
b = input("Enter your scond name: ")
a = int(a)
b = int(b)
hello = (a + b)/2
print("result", hello)

Enter your first name: 3
Enter your scond name: 4
result 3.5